.p-card {
  margin-top: 4.75rem;
  margin-bottom: 5px;
  .p-card-body {padding-top: 0.2rem; padding-bottom: 0.5rem;}
}

p-table {
  font-family: var(--mono-font);
  font-size: 0.85rem;
  table {
    min-width: 33rem;
  }
}
