header {
  --p-autocomplete-option-padding: 0.2rem 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  z-index: 5;
  background: var(--p-content-background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #f3f4f6;
  box-shadow: var(--p-overlay-navigation-shadow);

  input {
    text-transform: uppercase;
    max-width: 200px;
  }

  img {
    width: 9rem;
  }

  p-button {margin-right: 1rem; margin-bottom: 0.5rem;}

  #call-search {
    font-family: var(--mono-font);
  }

  .p-menubar {
    border: none;
  }

  //bug https://github.com/primefaces/primeng/issues/17155, https://github.com/primefaces/primeng/issues/17131
  .p-tieredmenu-mobile {
    position: absolute;
  }
}
