header {
  --p-autocomplete-option-padding: 0.2rem 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  img {
    width: 9rem;
  }

  p-button {margin-right: 1rem; margin-bottom: 0.5rem;}

  .border {
    width: 100%;
    border-top: 1px solid #f3f4f6;
    margin-top: 0.7rem;
  }

  #call-search {
    font-family: var(--mono-font);
  }
}
