<p-card>
  @if (activation) {
    <h3><a href="https://pota.app/#/park/{{activation.parkNum}}">{{activation.parkNum}} - {{activation.parkName}}</a></h3>
    <p>
      {{activation.count}} QSOs&nbsp;&nbsp;
      <p-tag [value]="'CW: ' + activation.cwCount.toString()" severity="success" />&nbsp;
      <p-tag [value]="'Digi: ' + activation.digiCount.toString()" severity="warn" />&nbsp;
      <p-tag [value]="'Phone: ' + activation.phoneCount.toString()" severity="info" />
    </p>
    <p>
      From: {{activation.startDate | date:'yy-MM-dd hh:mm'}}&nbsp;&nbsp;&nbsp;To: {{activation.endDate | date:'yy-MM-dd hh:mm'}}&nbsp;&nbsp;&nbsp;
      Log submitted: {{activation.logSubmittedDate | date:'yy-MM-dd hh:mm'}}
    </p>
    <p class="comment">{{activation.siteComments}}</p>
  }
</p-card>

<p-table
  [value]="logEntries"
  dataKey="logId"
  sortField="date"
  [sortOrder]="-1"
  [paginator]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first}-{last} of {totalRecords}"
  [rows]="50"
  [scrollable]="true"
  scrollHeight="calc(100vh - 18.7rem)"
  styleClass="tbl-act-log"
  stripedRows>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="date">UTC (ymd) <p-sortIcon field="date" /></th>
      <th>Call</th>
      <th>Band</th>
      <th>Mode</th>
      <th>P2P</th>
      <th title="Satellite name">SAT</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-qso>
    <tr (click)="onQsoSelect(qso)">
      <td>{{ qso.date | date:'yy-MM-dd hh:mm' }}</td>
      <td>{{ qso.call }}</td>
      <td>{{ qso.band }}</td>
      <td><p-tag [value]="getMode(qso.mode)" [severity]="getModeSeverity(qso.mode)" /></td>
      <td>{{qso.p2p === 'Y' ? '✔' : ''}}</td>
      <td>{{qso.satName}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="{{myCallsign}} confirms the following QSO" [modal]="true" [(visible)]="qsoDetailsVisible" [style]="{ width: '25rem' }">
  <app-qso [qsoId]="selectedId" />
  <div class="qsl">
    <p-button label="Close" severity="secondary" (click)="qsoDetailsVisible = false" />
  </div>
</p-dialog>
