<p-table
  [value]="logEntries()"
  dataKey="logId"
  sortField="date"
  [sortOrder]="-1"
  [paginator]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first}-{last} of {totalRecords}"
  [rows]="50"
  [scrollable]="true"
  scrollHeight="calc(100vh - 22.5rem)"
  class="tbl-act-log"
  stripedRows>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="date">UTC (ymd) <p-sortIcon field="date" /></th>
      <th>Call</th>
      <th>Band</th>
      <th>Mode</th>
      <th>P2P</th>
      <th title="Satellite name">SAT</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-qso>
    <tr (click)="onQsoSelect(qso)">
      <td>{{ qso.date | date:'yy-MM-dd hh:mm' }}</td>
      <td>{{ qso.call }}</td>
      <td>{{ qso.band }}</td>
      <td><p-tag [value]="qso.mode|qsoMode" [severity]="qso.mode|modeSeverity" /></td>
      <td>
        @if (qso.p2p.length > 0) {
          @for (p of qso.p2p; track p; let i = $index) {
            <a href="https://pota.app/#/park/{{p}}" target="_blank">{{p}}</a>@if (i < qso.p2p.length - 1) {,}
          }
        }
      </td>
      <td>{{qso.satName}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="{{myCallsign}} confirms the following QSO" [modal]="true" [(visible)]="qsoDetailsVisible" [style]="{ width: '25rem' }">
  <app-qso [logId]="selectedId" />
  <div class="qsl">
    <p-button label="Close" severity="secondary" (click)="qsoDetailsVisible = false" />
  </div>
</p-dialog>
