.p-card {
  margin-top: 4.75rem;
  min-height: 7.5rem;
  .p-card-body {padding-top: 0.2rem; padding-bottom: 0.5rem;}
  h3 {
    a, a:hover, a:focus, a:active, a:visited {color: var(--p-tag-info-color)}
  }
  p {
    margin-top: 0.5rem;
    &.comment {
      font-style: italic;
      font-size: 0.75rem;
    }
  }
}

.p-tabs {
  margin: 2px 1.25rem 0 1.25rem;
  .p-tabpanels {padding: 0}
}
