<p-card>
  @if (activation()) {
  <div class="card-layout">
    <div class="card-main">
      <h3>
        <a href="https://pota.app/#/park/{{activation()!.parkNum}}">{{activation()?.stationCallsign !== 'AF0E' ? activation()?.stationCallsign + ' / ' : '' }}{{activation()?.parkNum}} - {{activation()?.parkName}}</a>
        @if (_authSvc.isAdmin) {
          <p-confirmpopup />
          &nbsp;&nbsp;<button pButton type="button" severity="info" size="small" title="Edit" [outlined]="true" (click)="editActivationVisible.set(true)" aria-label="Edit activation"><svg data-p-icon="pencil" aria-hidden="true"></svg></button>
          &nbsp;<button pButton type="button" severity="warn" size="small" title="Copy with contacts (n-fer)" [outlined]="true" (click)="copyDlgVisible.set(true)" aria-label="Copy activation"><svg data-p-icon="copy" aria-hidden="true"></svg></button>
          &nbsp;<button pButton type="button" severity="warn" size="small" title="New activation, same location" [outlined]="true" (click)="onCloneActivation()" aria-label="Clone activation"><svg data-p-icon="clone" aria-hidden="true"></svg></button>
          &nbsp;<button pButton type="button" severity="success" size="small" title="Merge ADIF" [outlined]="true" (click)="adifFileInput.click()" aria-label="Merge ADIF"><svg data-p-icon="upload" aria-hidden="true"></svg></button>
          <input #adifFileInput type="file" accept=".adi,.adif" style="display:none" (change)="onMergeAdifFileSelected($event)" />
          &nbsp;<button pButton type="button" severity="danger" size="small" title="Delete" [outlined]="true" (click)="onConfirmDelete($event)" aria-label="Delete activation"><svg data-p-icon="trash" aria-hidden="true"></svg></button>
        }
      </h3>
      <p>
        <b>{{qsoStats.total}}</b> QSOs&nbsp;&nbsp;
        @if (activation()!.p2pCount > 0) {
          <b>{{activation()!.p2pCount}}</b> P2P &nbsp;
        }
        <p-tag [value]="'CW: ' + qsoStats.cw" severity="success" />&nbsp;
        <p-tag [value]="'Digi: ' + qsoStats.digi" severity="warn" />&nbsp;
        <p-tag [value]="'Phone: ' + qsoStats.phone" severity="info" />
        @if (qsoRate()) {
          &nbsp;&nbsp;<b>{{qsoRate()}}</b> QSO/hr for last 10
        }
      </p>
      <p>
        From: {{activation()!.startDate | date:'yy-MM-dd HH:mm'}}@if (activation()!.endDate) {&nbsp;&nbsp;&nbsp;To: {{activation()!.endDate | date:'yy-MM-dd HH:mm'}}}
        @if (activation()!.logSubmittedDate) {&nbsp;&nbsp;Log submitted: {{activation()!.logSubmittedDate | date:'yy-MM-dd HH:mm'}}}
      </p>
      <p class="comment">{{activation()!.siteComments}}</p>
    </div>
    <div class="card-actions">
      <div class="card-actions-row">
        @if (_authSvc.isAdmin) {
          <button pButton type="button" severity="help" [disabled]="activation()!.endDate" (click)="onSpotShow()">
            <svg data-p-icon="megaphone" aria-hidden="true"></svg>
            <span>Spot</span>
          </button>
          <button pButton type="button" severity="success" (click)="onAddQso()">
            <svg data-p-icon="plus" aria-hidden="true"></svg>
            <span>QSO</span>
          </button>
        }
        <button pButton type="button" severity="secondary" (click)="onExportAdif()">
          <svg data-p-icon="download" aria-hidden="true"></svg>
          <span>ADIF</span>
        </button>
      </div>
      @if (_authSvc.isAdmin) {
        <div class="last-call">
          @if (lastQso()) {
            {{lastQso()!.call}} | {{lastQso()!.date | date:'HH:mm'}} | {{lastQso()!.band}} {{lastQso()!.mode}}
          }
        </div>
      }
    </div>
  </div>
  }
</p-card>

<p-tabs value="log" (valueChange)="map.onTabChange()">
  <p-tablist>
    <p-tab value="log">Log</p-tab>
    <p-tab value="map">Map</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="log">
      <div class="log-container">
        <div>
          <app-activation-log [activation]="activation()!"  [logEntries]="logEntries()" (qsoSelected)="onQsoSelected($event)" (qsoDeleted)="onQsoDeleted()"></app-activation-log>
        </div>
        <div>
          <app-activation-info [activation]="activation()!"></app-activation-info>
        </div>
      </div>
    </p-tabpanel>
    <p-tabpanel value="map">
      <app-activation-map #map [activation]="activation()!" [logEntries]="logEntries()"></app-activation-map>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>

@if (_authSvc.isAdmin) {
  <p-dialog [header]="qsoDlgHeader()" [modal]="true" [(visible)]="qsoEditVisible" [style]="{width:'64rem'}" [focusOnShow]="false">
    <app-qso-edit
      [shown]="qsoEditVisible()"
      [params]="qsoEditParams()"
      [editMode]="qsoEditMode"
      (activationCreated)="onNewActivationCreated($event)"
      (formInit)="onQsoFormInit($event)"
      (saved)="onQsoSaved()" />
  </p-dialog>

  <p-dialog header="Spot {{activation()?.stationCallsign}}" [modal]="true" [(visible)]="spotDlgVisible" [style]="{width:'16rem'}" [focusOnShow]="true">
    @if (spotDlgVisible()) {
      <div style="margin-top: 1rem;">
        <p-floatlabel variant="on">
          <input type="text" id="freq" pInputText [(ngModel)]="spotFreq"/>
          <label for="freq">Frequency</label>
        </p-floatlabel>
        <br>
        <p-floatlabel variant="on">
          <input id="cmt" pInputText [(ngModel)]="spotComment"/>
          <label for="cmt">Comment</label>
        </p-floatlabel>
        <br>
        <button pButton type="button" severity="success" (click)="onSpot()">
          <svg data-p-icon="megaphone" aria-hidden="true"></svg>
          <span>Spot</span>
        </button>
      </div>
    }
  </p-dialog>

  @if (editActivationVisible()) {
    <p-dialog header="Edit activation" [modal]="true" [(visible)]="editActivationVisible" [style]="{ width: '40rem' }" [focusOnShow]="true">
      <form id="activationForm" class="activation-form">
        <p-floatlabel class="field">
          <input id="parkNum" pInputText [formField]="activationForm.parkNum"/>
          <label for="parkNum">Park Number</label>
        </p-floatlabel>

        <div class="field grid-field">
          <p-floatlabel>
            <input id="grid" pInputText [formField]="activationForm.grid" />
            <label for="grid">Grid</label>
          </p-floatlabel>
        </div>

        <p-floatlabel class="field">
          <input id="lat" pInputText [formField]="$any(activationForm.lat)" />
          <label for="lat">Latitude</label>
        </p-floatlabel>

        <div class="field lon-field">
          <p-floatlabel>
            <input id="lon" pInputText [formField]="$any(activationForm.long)" />
            <label for="lon">Longitude</label>
          </p-floatlabel>
          <button pButton type="button" severity="secondary" [rounded]="true" (click)="onOpenGoogleMaps()" pTooltip="Open in Google Maps" aria-label="Open in Google Maps"><svg data-p-icon="globe" aria-hidden="true"></svg></button>
        </div>

        <p-floatlabel class="field">
          <input id="county" pInputText [formField]="activationForm.county" />
          <label for="county">County</label>
        </p-floatlabel>

        <p-floatlabel class="field">
          <input id="state" pInputText [formField]="activationForm.state" />
          <label for="state">State</label>
        </p-floatlabel>

        <p-floatlabel class="field">
          <input id="station" pInputText [formField]="activationForm.stationCallsign" />
          <label for="station">Station</label>
        </p-floatlabel>

        <p-floatlabel class="field">
          <input id="operator" pInputText [formField]="activationForm.operatorCallsign" />
          <label for="operator">Operator</label>
        </p-floatlabel>

        <p-floatlabel class="field">
          <p-datepicker
            [(ngModel)]="editableActivation().startDate"
            inputId="startDate"
            name="startDate"
            dateFormat="yy-mm-dd"
            [showTime]="true"
            hourFormat="24"
            [required]="true"
            appendTo="body"
          />
          <label for="startDate">Start date</label>
        </p-floatlabel>

        <div class="field end-field">
          <p-floatlabel>
            <p-datepicker
              [(ngModel)]="editableActivation().endDate"
              inputId="endDate"
              name="endDate"
              dateFormat="yy-mm-dd"
              [showTime]="true"
              hourFormat="24"
              [required]="true"
              appendTo="body"
            />
            <label for="endDate">End date</label>
          </p-floatlabel>
          <button
            pButton
            type="button"
            [text]="true"
            [rounded]="true"
            size="small"
            severity="info"
            (click)="setEndTimeAndStatus()"
            class="date-now-btn"
            aria-label="Set current end time">
            <svg data-p-icon="angle-double-left" aria-hidden="true"></svg>
          </button>
        </div>

        <p-floatlabel class="field">
          <p-datepicker
            [(ngModel)]="editableActivation().logSubmittedDate"
            inputId="submitDate"
            name="sbmitDate"
            dateFormat="yy-mm-dd"
            [showTime]="true"
            hourFormat="24"
            [required]="true"
            appendTo="body"
          />
          <label for="submitDate">Submit date</label>
        </p-floatlabel>

        <p-floatlabel class="field">
          <input id="status" pInputText [formField]="activationForm.status" />
          <label for="status">Status (P,C)</label>
        </p-floatlabel>

        <div class="form-actions">
          <button pButton type="button" (click)="onSaveActivation()" [disabled]="activationForm().invalid()">
            <svg data-p-icon="save" aria-hidden="true"></svg>
            <span>Save</span>
          </button>
        </div>
      </form>
    </p-dialog>
  }

  <p-dialog [modal]="true" [showHeader]="false" [(visible)]="copyDlgVisible" [focusOnShow]="true" [style]="{ width: '20rem' }">
    <div style="padding-top: 1rem">
      <p-floatlabel variant="on">
        <input pInputText id="parkNum" style="width:100%; margin-top: 0.5rem;" [(ngModel)]="copyParkNum" />
        <label for="parkNum">Park</label>
      </p-floatlabel>
      <div style="display:flex; justify-content:flex-end; margin-top:0.5rem;">
        <button pButton type="button" title="Copy with contacts (n-fer)" (click)="onCopyActivation()" [disabled]="!copyParkNum()">
          <svg data-p-icon="copy" aria-hidden="true"></svg>
          <span>Copy</span>
        </button>
      </div>
    </div>
  </p-dialog>
}
