.p-card {
  margin-top: 4.75rem;
  min-height: 7.5rem;
  .p-card-body {padding-top: 0.2rem; padding-bottom: 0.5rem;}
  h3 {
    a, a:hover, a:focus, a:active, a:visited {color: var(--p-tag-info-color)}
  }
  p {
    margin-top: 0.5rem;
    &.comment {
      font-style: italic;
      font-size: 0.75rem;
    }
  }
  .card-layout {
    display: flex;
    gap: 1rem;
    .card-main { }
    .card-actions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      flex: 1;
      gap: 0.4rem;
      .card-actions-row {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        p-button { margin-left: 0.6rem; }
      }
      .last-call {
        border: 1px #ccc solid;
        border-radius: 4px;
        background: var(--p-tag-info-background);
        padding: 2px;
        color: var(--p-tag-info-color);
        min-width: 27rem;
        height: 1.5rem;
      }
    }
  }
}

.p-tabs {
  margin: 2px 1.25rem 0 1.25rem;
  .p-tabpanels {padding: 0}
  .log-container {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.activation-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1.5rem;
  padding-top: 1.5rem;

  .field {
    width: 100%;
    p-floatlabel {
      display: block;
      width: 100%;
    }
    input, p-inputnumber, p-datepicker {
      width: 100%;
    }
    &.grid-field, &.lon-field, &.end-field {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      p-floatlabel {
        flex: 1;
        width: auto;
      }
    }
  }

  .form-actions {
    grid-column: 2;
    text-align: right;
  }
}

.p-dialog {
  .p-dialog-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
