.top-spacer {margin-top: 4.1rem;}

.controls {
  display: flex;
  justify-content: center;
}

p-fieldset {
  margin-right:5px;
  fieldset.circle-color {
    padding-top: 8px;
    padding-bottom: 12px;
  }
  fieldset.map-style {
    padding-bottom: 0;
    width: 8.75rem;
    img {
      cursor: pointer;
      width: 40px;
      height: 40px;
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
  fieldset.options {
    padding-top: 8px;
    padding-bottom: 16px;
  }
  fieldset.search {
    padding-bottom: 7px;
  }
  .p-fieldset-legend-label {font-weight: normal}
}



#parks-map {
  margin-top: 5px;
}

.mapboxgl-popup-close-button {
  font-size: 1.2rem;
}

.mapboxgl-popup-content {
  padding: 2px 0 5px 10px;
}

.map-popup-list {
  max-height: 200px;
  overflow-y: auto;
  li {
    padding-right: 2px;
    a {
      margin-right: 8px;
    }
  };
}

.map-popup-na {
  padding-top: 12px;
  padding-right: 10px;
  text-align: center;
}
