<main class="utils-content">
  <p-card>
    <p>Some useful (IMHO) tools and resources</p>
    <p-divider />
    <div class="utils-links">
      <button pButton type="button" [link]="true" class="utils-link-button blue-link" routerLink="/tools/grid">Find grid by lat/long</button>
      <button pButton type="button" [link]="true" class="utils-link-button blue-link" (click)="openExternal('https://www.1x1callsigns.org/index.php/search-1x1-database')">
        <span>1x1 Callsign Database</span>
        <svg data-p-icon="external-link" aria-hidden="true"></svg>
      </button>
      <button pButton type="button" [link]="true" class="utils-link-button blue-link" (click)="openExternal('https://www.randymajors.org/countygmap')">
        <span>County Lines</span>
        <svg data-p-icon="external-link" aria-hidden="true"></svg>
      </button>
      <button pButton type="button" [link]="true" class="utils-link-button blue-link" (click)="openExternal('https://github.com/k0swe/dxcc-json?tab=readme-ov-file')">
        <span>DXCC Json</span>
        <svg data-p-icon="external-link" aria-hidden="true"></svg>
      </button>
      <button pButton type="button" [link]="true" class="utils-link-button blue-link" (click)="openExternal('https://k7fry.com/grid')">
        <span>QTH locator</span>
        <svg data-p-icon="external-link" aria-hidden="true"></svg>
      </button>
      <button pButton type="button" [link]="true" class="utils-link-button blue-link" (click)="openExternal('https://ve2zdx.com/toolkit/youtube/videos/ALL?callsign=AF0E')">
        <span>My CW qso's :)</span>
        <svg data-p-icon="external-link" aria-hidden="true"></svg>
      </button>
      <button pButton type="button" [link]="true" class="utils-link-button blue-link" (click)="openExternal('https://www.qrz.com/db/AF0E')">
        <span>My QRZ page</span>
        <svg data-p-icon="external-link" aria-hidden="true"></svg>
      </button>
    </div>
  </p-card>
</main>
