.tbl-activations {
  font-family: var(--mono-font);
  font-size: 0.85rem;
  table {
    tr {
      cursor: pointer; white-space: nowrap;
      &.top {
        th {text-align: center}
        th:nth-child(1), th:nth-child(2) {border-right: 1px solid var(--p-datatable-header-cell-border-color)}
      }
      &.bottom {
        th:nth-child(2), th:nth-child(4) {border-right: 1px solid var(--p-datatable-header-cell-border-color)}
      }
    }
  }
}
