.tbl-activity {
  font-family: var(--mono-font);
  font-size: 0.85rem;
  table {
    tr {
      white-space: nowrap;
      &.wrk-no {
        background-color: rgba(255, 0, 0, 0.08)
      }
      &.wrk-bm {
        background-color: rgba(0, 255, 0, 0.08)
      }
      &.wrk-other {
        background-color: rgba(255, 165, 0, 0.08)
      }
      td {
        &.act-time {width: 3rem;}
        &.act-band {width: 2rem;}
        &.act-mode {width: 3rem;}
        &.act-call {width: 12rem;}
        &.act-park {width: 10rem;}
        &.act-freq {width: 8rem;}
        &.act-grid {width: 5rem;}
      }
    }
    a {
      color: var(--p-tag-info-color);
      text-decoration: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    p-badge {
      margin-left: 0.5rem;
      vertical-align: middle;
    }
  }
  .spots-caption {display: flex; align-items: center; width: 100%;}
  .last-call {
    border: 1px #ccc solid;
    border-radius: 4px;
    background: var(--p-tag-info-background);
    padding: 2px;
    color: var(--p-tag-info-color);
    margin-right: 5px;
    min-width: 20rem;
    height: 1.5rem;
  }
}

.p-dialog-header {padding-top: 0; padding-bottom: 0;}
