<div class="top-spacer"></div>
<p-table
  [value]="spots()"

  dataKey="activity.callSign"
  sortField="activity.lastSpotTime"
  [sortOrder]="-1"
  sortMode="multiple"
  [scrollable]="true"
  scrollHeight="calc(100vh - 9.6rem)"
  class="tbl-activity">

  <ng-template pTemplate="caption">
    <div class='spots-caption'>
      <p-button severity="primary" icon="pi pi-refresh" [disabled]="isRefreshing()" (onClick)="refreshSpots()" />&nbsp;
      <p-checkbox
        inputId="autoRefresh"
        [ngModel]="autoRefresh()"
        (ngModelChange)="autoRefresh.set($event)"
        [binary]="true" />
      &nbsp;<label for="autoRefresh">Auto</label>
      &nbsp;|&nbsp;
      <p-checkbox
        inputId="rigControl"
        [ngModel]="rigControl()"
        (ngModelChange)="rigControl.set($event)"
        [binary]="true" />
      &nbsp;<label for="rigControl">Rig</label>
      &nbsp;
      <p-checkbox
        inputId="keyerControl"
        [ngModel]="keyerControl()"
        (ngModelChange)="keyerControl.set($event)"
        [binary]="true" />
      &nbsp;<label for="keyerControl">Keyer</label>

      &nbsp;|&nbsp;
      <p-checkbox
        inputId="showDigi"
        [ngModel]="showDigi()"
        (ngModelChange)="showDigi.set($event)"
        [binary]="true" />
      &nbsp;<label for="showDigi">Digi</label>
      &nbsp;
      <p-checkbox
        inputId="showPhone"
        [ngModel]="showPhone()"
        (ngModelChange)="showPhone.set($event)"
        [binary]="true" />
      &nbsp;<label for="showPhone">Phone</label>
      &nbsp;
      <p-checkbox
        inputId="showCw"
        [ngModel]="showCw()"
        (ngModelChange)="showCw.set($event)"
        [binary]="true" />
      &nbsp;<label for="showCw">CW</label>

      &nbsp;|&nbsp;
      <p-checkbox
        inputId="beam"
        [ngModel]="beam()"
        (ngModelChange)="beam.set($event)"
        [binary]="true" />
      &nbsp;<label for="beam">Beam</label>
      &nbsp;
      <p-checkbox
        inputId="slopper"
        [ngModel]="slopper()"
        (ngModelChange)="slopper.set($event)"
        [binary]="true" />
      &nbsp;<label for="slopper">Slopper</label>

      &nbsp;|&nbsp;
      <p-checkbox
        inputId="showDups"
        [ngModel]="showDups()"
        (ngModelChange)="onDupsChange($event)"
        [binary]="true" />
      &nbsp;<label for="showDups">Dups</label>

      <div style="flex: 1;"></div>
      <div class="last-call">
        @if (lastQso()) {
          {{lastQso().call}} |{{lastQso().date | date:'HH:mm':'UTC'}}|{{lastQso().band}} {{lastQso().mode}}|{{lastQso().comment}}
        }
      </div>
      <p-button severity="primary" icon="pi pi-plus" (onClick)="onAddQso()" />
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="activity.lastSpotTime">Time <p-sortIcon field="activity.lastSpotTime" /></th>
      <th pSortableColumn="activity.band">Band <p-sortIcon field="activity.band" /></th>
      <th pSortableColumn="activity.mode">Mode <p-sortIcon field="activity.mode" /></th>
      <th>Call</th>
      <th>Park</th>
      <th>Freq</th>
      <th>Loc</th>
      <th>Grid</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-act>
    <tr [ngClass]="getRowClass(act)">
      <td class="act-time">
        @if (act.activity.callSign == this.selectedCall()) {&#9654;}
        @else if (wasCallSignClicked(act.activity.callSign)) {?}
        @else {&nbsp;}
        {{ act.activity.lastSpotTime | timeAgo }}
      </td>
      <td class="act-band">{{ act.activity.band }}</td>
      <td class="act-mode">
        @if (act.activity.mode !== '') {
          <p-tag [value]="act.activity.mode|qsoMode" [severity]="act.activity.mode|modeSeverity" />
        }
      </td>
      <td class="act-call">
        <a (click)="onCallSignClick(act.activity.callSign, act.activity.parkNum, act.activity.freqKhz, act.activity.mode)">{{ act.activity.callSign }}</a>
        @if (act.totalCallSignContacts > 0) {
          <p-badge [value]="act.totalCallSignContacts" severity="info" />
        }
      </td>
      <td class="act-park">
        <a (click)="onParkClick(act.activity.parkNum)">{{ act.activity.parkNum }}</a>
        @if (act.totalParkContacts > 0) {
          <p-badge [value]="act.totalParkContacts" severity="info" />
        }
      </td>
      <td class="act-freq">{{ act.activity.freqKhz }}</td>
      <td>{{ act.activity.location }}</td>
      <td class="act-grid">{{ act.activity.grid }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6" style="text-align: center;">
        NO ACTIVITY
      </td>
    </tr>
  </ng-template>
</p-table>

<p-scrollTop />

<p-dialog header="Add QSO" [modal]="true" [(visible)]="qsoEditVisible" [style]="{width:'64rem'}" [focusOnShow]="false">
  @if (qsoEditVisible()) {
    <app-qso-edit [logId]="-1" [callSign]="selectedCall()" [keyerControl]="keyerControl() && rigCommanderConfig().winkeyer.enabled" [(rigControl)]="rigControl" [filtersEnabled]="rigCommanderConfig().activeProfile === 'IC-9100'" [potaHunting]="true" (saved)="onQsoSaved($event)" />
  }
</p-dialog>

<p-dialog header="Hunting stats" [modal]="true" [(visible)]="huntingStatsVisible" [style]="{width:'90rem'}" [focusOnShow]="false">
  @if (huntingStatsVisible()) {
    <app-park-hunting-stats [parkNum]="selectedParkNum()" />
  }
</p-dialog>
