**/bin
**/obj
**/dist

**/.git
**/.dockerignore
**/.gitignore
**/.editorconfig
**/.env
**/.vs
**/.vscode
**/.idea
**/.angular
**/*.*proj.user
**/http-client.env*
**/*.http
**/docker-compose*
**/Dockerfile*
**/*.Dockerfile
**/node_modules
**/npm-debug.log
**/appsettings.Development.json
**/launchSettings.json
**/.secrets
**/LICENSE
**/README.md
