# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.crt

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ist/

# IDEs
.vs/
.vscode/
.idea/

# Jetbrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.dotCover

# Angular
.angular/
node_modules/

UpgradeLog.htm
