p-table {
  font-family: var(--mono-font);
  font-size: 0.85rem;
  table {
    min-width: 32rem;
  }
}

.qsl {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  border-top: 1px solid #f3f4f6;
}
