<p-table
  [value]="logEntries"
  dataKey="id"
  sortField="date"
  [sortOrder]="-1"
  [paginator]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first}-{last} of {totalRecords}"
  [rows]="50"
  [lazy]="true"
  [lazyLoadOnInit]="false"
  [totalRecords]="totalRecords"
  [loading]=loading
  (onLazyLoad)="onLazyLoad($event)"
  [scrollable]="true"
  class="tbl-log"
  scrollHeight="calc(100vh - 13.8rem)"
  stripedRows>

  <ng-template pTemplate="caption">
    <div class='log-caption'>
      <p-floatlabel variant="on">
        <p-datePicker
          selectionMode="range"
          [(ngModel)]="qsoDateRange"
          [minDate]="qsoMinDate"
          [maxDate]="qsoMaxDate"
          dateFormat="yy-mm-dd"
          inputId="daterange"
          [readonlyInput]="false"
          (onFocus)="onDateRangeFocus(true)"
          (onBlur)="onDateRangeFocus(false)"
        />
        <label for="daterange">{{dateRangeTitle}}</label>
      </p-floatlabel>
      <p-button severity="secondary" icon="pi pi-search" (onClick)="onDateRangeSearch()" />
      @if (_authSvc.hasRole('Admin')) {
        <div style="flex: 1;"></div>
        <p-button severity="primary" label="Add QSO" icon="pi pi-plus" (onClick)="onAddQso()" />
      }
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="date">UTC (ymd) <p-sortIcon field="date" /></th>
      <th>Call</th>
      <th>Band</th>
      <th>Mode</th>
      <th title="POTA activation">POTA</th>
      <th title="Satellite name">SAT</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-qso>
    <tr (click)="onQsoSelect(qso)">
      <td>{{ qso.date | date:'yy-MM-dd hh:mm' }}</td>
      <td>{{ qso.call }}</td>
      <td>{{ qso.band }}</td>
      <td><p-tag [value]="qso.mode|qsoMode" [severity]="qso.mode|modeSeverity" /></td>
      <td>
        @if (qso.potaCount) {
          <span class="material-symbols-outlined">park</span>
        }
      </td>
      <td>{{qso.satName}}</td>
    </tr>
  </ng-template>
</p-table>

<p-scrollTop />

<p-dialog header="{{myCallsign}} confirms the following QSO" [modal]="true" [(visible)]="qsoDetailsVisible" [style]="{ width: '25rem' }">
  @if (qsoDetailsVisible) {
    <app-qso [logId]="selectedId" />
  }
  <div class="qsl">
    <p-button label="Close" severity="secondary" (click)="qsoDetailsVisible = false" />
  </div>
</p-dialog>

<p-dialog header="Edit QSO" [modal]="true" [(visible)]="qsoEditVisible" [style]="{ width: '60rem' }" [focusOnShow]="false">
  @if (qsoEditVisible) {
    <app-qso-edit [logId]="selectedId" (saved)="onQsoSaved($event)" />
  }
</p-dialog>
