app-logbook {
  padding-top: 4.5rem;
  .p-datepicker-input {width: 17rem;}
  .p-datatable-header {
    display: flex;
    p-button {margin: 0.1rem 0 0 1rem;}
  }
}

p-table {
  font-family: var(--mono-font);
  font-size: 0.85rem;
  table {
    min-width: 33rem;
  }
}

.tbl-log {
  table {
    tr td {
      cursor: pointer;
      white-space: nowrap
    }
    p-tag > span > span {
      width: 2.5rem;
      text-align: center;
    }
  }
}

.qsl {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  border-top: 1px solid #f3f4f6;
}
